<footer id="footer" class="footer">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="full">
                <div class="footer-widget">
                   <div class="footer-logo">
                      <a href="/"><img src="images/footer-logo.png" alt="#" /></a>
                   </div>
                   <p>Most of our events have hard and easy route choices as we are always keen to encourage new riders.</p>
                   <ul class="social-icons style-4 pull-left">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                      <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="full">
                <div class="footer-widget">
                   <h3>Menu</h3>
                   <ul class="footer-menu">
                      <li><a href="about">About Us</a></li>
                      <li><a href="team">Our Team</a></li>
                      <li><a href="news">Latest News</a></li>
                      <li><a href="matche">Recent Matchs</a></li>
                      <li><a href="blog">Our Blog</a></li>
                      <li><a href="contact">Contact Us</a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-5">
             <div class="full">
                <div class="footer-widget">
                   <h3>Contact us</h3>
                   <ul class="address-list">
                      <li><i class="fa fa-map-marker"></i> Lorem Ipsum is simply dummy text of the printing</li>
                      <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> omkarbhavsar50@gmail.com</li>
                      <li><i class="fa fa-phone"></i>+9187 6747 1886</li>
                   </ul>
                </div>
             </div>
          </div>
          
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <p>Copyright © 2018 Distributed by <a href="https://www.instagram.com/omkarbhavsar007/" target="_blank">Omkar Bhavsar</a></p>
       </div>
    </div>
 </footer>
 <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
 <!-- ALL JS FILES -->
 <script src="js/all.js"></script>
 <!-- ALL PLUGINS -->
 <script src="js/custom.js"></script>
</body>

<!-- Mirrored from themewagon.github.io/sports/index by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 May 2024 14:34:55 GMT -->
</html>